
@import 'general';

header{
    background: #bb1f35;
    color: #fff;
}
.main{
    background: #f234;
    width: 70%;
    float: left;
}
aside{
    background: #bb1f35;
    color: #fff;
    width: 30%;
    float: right;
}
footer{
    clear: both;
    width: 100%;
    background: #0d2c44;
    color: #fff;
}