*{
    margin:0;
    padding: 0;
}
body{
    background: #f2f2f2;
    font-family: Arial;
}
.cajaPadre{
    background: #2e294a;
    width: 800px;
    height: 500px;
    overflow: hidden;
    
}
.caja{
    width: 200px;
    height: 200px;
    color: #fff;
    font-size: 38px;
    background: #ff2;
    margin: 10px;
    
}
.uno{
    float: left;
}
.dos{       
    float: right;
    position: relative;
    right: 200px; 
    top: 100px;
}