body{
    padding: 5px;
}


.contenedor_padre{
    font-size: 50px;
}
.hijo{
    width: 10em;
    height: 10rem;
    background-color: #000;
    color: #fff;
    word-break: break-all;
    padding: 2px;
}